.level-progress {
    background-color: var(--color-gray-scale-white);
    border-radius: 8px;
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  
    &__header {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      align-items: flex-end;
    }
  
    &__level {
      font-size: var(--typo-size-heading-6);
      font-weight: var(--typo-weight-bold);
      color: var(--color-gray-scale-800);
    }
  
    &__score {
      font-size: var(--typo-size-body-5);
      color: var(--color-gray-scale-600);
      font-weight: var(--typo-weight-medium	);
    }
  
    &__bar {
      width: 100%;
      height: 10px;
      background-color: var(--color-gray-scale-50);
      border-radius: 999px;
      overflow: hidden;
    }
  
    &__bar-fill {
      height: 100%;
      border-radius: 999px;
      background-color: var(--color-primary);
      transition: width 0.3s ease;
    }
  }
  