.mypage-wrap .content-area {
  row-gap: clamp(12px, 3vw, 12px);
  padding-top: clamp(12px, 3vw, 12px);
}

.page-content h2 {
  font-size: var(--typo-size-heading-3);
  font-weight: var(--typo-weight-semibold);
  margin-bottom: clamp(12px, 3vw, 12px);
}
.page-content p {
  font-size: var(--typo-size-body-1);
  color: var(--color-gray-scale-600);
  line-height: 150%;
}
.page-content ul {
  margin: clamp(12px, 3vw, 12px) 0;
}
.page-content ul li {
  font-size: var(--typo-size-body-3);
}