.profile-name {
  color: var(--color-gray-scale-black);

  &.sm {
    font-size: var(--typo-size-body-3);
  }

  &.md {
    font-size: var(--typo-size-body-1);
  }


  &.weight-semibold {
    font-weight: var(--typo-weight-semibold);
  }

  &.weight-bold {
    font-weight: var(--typo-weight-bold);
  }
   &.weight-default {
    font-weight: 400;
  }
}
