.user-profile {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-gray-scale-black);

  &.user-horizontal {
    flex-direction: row;

    .user-info {
      display: flex;
      flex-direction: column;

      .user-date {
        font-size: 0.75rem;
        color: var(--color-gray-scale-200);
      }
    }
  }

 &.user-vertical {
  width: 60px;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  .user-info {
    font-size: 0.875rem;
    font-weight: 500;
  }
}

  &.user-postMeta {
    flex-direction: row;

    .user-info {
      display: flex;
      flex-direction: column;

      .user-date {
        font-size: var(--typo-size-body-5);
        color: var(--color-gray-scale-400);
      }
    }
  }
}
