.sub-title {
    margin-bottom: clamp(12px, 3vw, 16px);

  
    &__heading {
      font-size: var(--typo-size-heading-6);
      font-weight: var(--typo-weight-bold);
      color: var(--color-gray-scale-black);
    }

    &--title-lg {
      .sub-title__heading {
        font-size: var(--typo-size-heading-2);
        font-weight: var(--typo-weight-bold);
        color: var(--color-gray-scale-800);
      }
    }
  
   &--sideinfo {
     .sub-title__meta-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .sub-title__date-range {
    font-weight: var(--typo-weight-semibold);
    font-size: var(--typo-size-body-1);
    color: var(--color-gray-scale-700);
  }
  .sub-title__remain-time {
    white-space: nowrap;
    font-size: var(--typo-size-body-5);
    color: var(--color-gray-scale-400);
  }
}

    }


    &__link, &__info {
      font-size: var(--typo-size-body-3);
      font-weight: var(--typo-weight-semibold);
      color: var(--color-gray-scale-300);
      display: flex;
      gap: clamp(6px, 2vw, 10.5px);
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    &__desc {
      margin-top: clamp(4px, 1.5vw, 8px);
      font-size: var(--typo-size-body-3);
      color: var(--color-gray-scale-400);
      line-height: var(--typo-line-height);
      
    }

    &__date, &__week {
        color: var(--color-gray-scale-400);
        font-size: var(--typo-size-body-5);
    }

    // 타입별 스타일링
    &--link, &--info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
        font-weight: var(--typo-weight-semibold	);
    }

    &--desc {
      .sub-title__row {
      }
  
      .sub-title__desc {
      }
    }

    &--date, &--week {
        display: flex;
        flex-direction: column-reverse;
    }
  }
  