// Button.scss
button {
    width: calc(64 / 16 * 1rem);
    height: calc(33 / 16 * 1rem);
    border-radius: calc(8 / 16 * 1rem);
    border: none;
    background-color: #1A2933;   //디자인가이드 확정시 variables에 업데이트
    color: #fff;
    font-size: calc(var(--typo-size-body-5) / 16 * 1rem);
    font-weight: var(--typo-weight-semibold);
    &:hover {
        background-color: #505050;
    }
    &:active {
        background-color: #303030;
    }
    
    &:disabled {
        opacity: .4;
        cursor: not-allowed;
    }
}