// cmpHeader.scss
header.cmp-header {
    // Dev
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);


    width: 100%;
    // height: calc(54 / 16 * 1rem);
    background-color: #fff;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: calc(12 / 16 * 1rem) calc(20 / 16 * 1rem);
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            // border: solid 1px red;
  

            img {
                width: calc(62 / 16 * 1rem);
                object-fit: fill;
                margin: 0;
            }
            &__title {
                // width: 100%;
                font-size: calc(var(--typo-size-heading-4) / 16 * 1rem);
                font-weight: 700;
            }
        }

        .menu {
            display: flex;
            align-items: center;
            &__list {
                padding: 0;
                
                li {
                    display: flex;
                }
            }
        }
    }
}