header.cmp-header {
  width: 100%;
  background-color: #fff;
}
header.cmp-header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
}
header.cmp-header nav .logo img {
  width: 3.875rem;
  -o-object-fit: fill;
     object-fit: fill;
  margin: 0;
  display: block;
}
header.cmp-header nav .logo__title {
  font-size: calc(var(--typo-size-heading-4) / 16 * 1rem);
  font-weight: 700;
}
header.cmp-header nav .menu {
  display: flex;
  align-items: center;
}
header.cmp-header nav .menu__list {
  padding: 0;
}
header.cmp-header nav .menu__list li {
  display: flex;
}