.wrapper {
  background-color: var(--color-gray-scale-100);
}

.main-layout {
    width: 100%;
    max-width: calc(480 / 16 * 1rem);
    margin: 0 auto;
    background: var(--color-gray-scale-white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0 calc(20 / 16 * 1rem) rgba(0, 0, 0, 0.15);
  }
  
  .content-area {
    flex: 1;
    padding: calc(20 / 16 * 1rem);
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  
    // 추후 삭제
    .content-box {
      height: calc(100 / 16 * 1rem);
      background: #ddd;
      margin-bottom: calc(12 / 16 * 1rem);
      border-radius: calc(10 / 16 * 1rem);
    }
  }

