.wrapper {
  background-color: var(--color-gray-scale-100);
}

.main-layout {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  background: var(--color-gray-scale-white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.15);
}

.content-area {
  flex: 1;
  padding: 1.25rem;
  height: 100%;
  overflow-y: scroll;
}
.content-area::-webkit-scrollbar {
  display: none;
}
.content-area .content-box {
  height: 6.25rem;
  background: #ddd;
  margin-bottom: 0.75rem;
  border-radius: 0.625rem;
}