.wrapper {
  background-color: var(--color-gray-scale-100);
}

.main-layout {
  width: 100%;
  max-width: clamp(390px, 100vw, 520px);
  margin: 0 auto;
  background: var(--color-gray-scale-white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 clamp(12px, 1.25vw, 20px) rgba(0, 0, 0, 0.15);
}

.content-area {
  flex: 1;
  padding: clamp(12px, 5vw, 20px);
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
