.sub-title {
    margin-bottom: 16px;
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &__heading {
      font-size: var(--typo-size-heading-6);
      font-weight: var(--typo-weight-bold);
      color: var(--color-gray-scale-black);
    }
  
    &__link {
      font-size: var(--typo-size-body-3);
      font-weight: var(--typo-weight-medium);
      color: var(--color-gray-scale-600);
        display: flex;
        gap: 10.5px;
      &:hover {
        text-decoration: underline;
      }
    }
  
    &__desc {
      margin-top: 8px;
      font-size: var(--typo-size-body-3);
      color: var(--color-gray-scale-400);
      line-height: var(--typo-line-height);
    }
  
    // 타입별 조정 필요하면 여기
    &--link {
    }
  
    &--desc {
      .sub-title__row {
      }
  
      .sub-title__desc {
      }
    }
  }
  