.week-calendar {
    display: flex;
    justify-content: center;
    gap: 2px;

    .day-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid var(--color-gray-scale-100);
        border-radius: calc(100/16*1rem);
        padding: calc(9.5/16*1rem) calc(16/16*1rem);
        cursor: pointer;
        font-size: calc(var(--typo-size-body-3)/16*1rem);
        gap: 2px;
        font-weight: 600;

        .label {
            color: var(--color-gray-scale-400);
        }

        .date {
            color: var(--color-gray-scale-700);
        }
        .check {
            display: block;
            opacity: 0;
          
            &.visible {
              opacity: 1;
            }
          }
          
    }
}