.tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(8px, 2.5vw, 12px);
  
    li {
      font-size: calc(var(--typo-size-body-1) / 16 * 1rem);
      color: var(--color-gray-scale-800);
      cursor: pointer;
      padding: clamp(8px, 2.5vw, 12px) clamp(16px, 4vw, 20px);
      border-radius: clamp(50px, 10vw, 100px);
      border: 1px solid var(--color-gray-scale-50);
  
      &.active {
        border-color: var(--color-red-vari-500);
        background-color: var(--color-red-vari-50);
        font-weight: var(--typo-weight-semibold);
      }
    }
  }
  