header.cmp-header {
    width: 100%;
    background-color: #fff;
  
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: clamp(12px, 3vw, 20px) clamp(12px, 5vw, 20px);
  
      .logo {
        img {
          width: clamp(62px, 16vw, 80px);
          object-fit: fill;
          margin: 0;
          display: block;
        }
  
        &__title {
          font-size: var(--typo-size-heading-6); 
          font-weight: 700;
        }
      }
      
      .mid-title {
        position: absolute;
      }
  
      .menu {
        display: flex;
        align-items: center;
  
        &__list {
          padding: 0;
  
          li {
            display: flex;
          }
        }
      }

      .back {
        margin: 0 auto;
      }
    }

    i {
      cursor: pointer;
    }
  }
  