.signup-button {
    display: flex;
    gap: clamp(10px, 2vw, 14px);
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: clamp(2px, 2vw, 4px);
    padding: clamp(10px, 2vw, 13px) 0;

    font-size: 14px;
    font-weight: 600;

    &.kakao {
        background: #FEE500;
    }
    &.naver {
        background-color: #fff;
    }
}