.cmp-sidebar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex: 1 1 0%;

  &__itemList {
    ul {
      width: calc(200 / 16 * 1rem);
      position: sticky;
      min-height: calc(500 / 16 * 1rem);
      top: calc(100 / 16 * 1rem);
      border: calc(1 / 16 * 1rem) solid #c6c6c6;
      border-radius: calc(12 / 16 * 1rem);
      padding: calc(20 / 16 * 1rem);
      white-space: nowrap;
    }

    li {
      display: block;
      font-size: calc(18 / 16 * 1rem);
      line-height: calc(18 / 16 * 1rem);
      color: #222;
      padding: calc(24 / 16 * 1rem) 0;
      border-bottom: calc(1 / 16 * 1rem) solid #c6c6c6;
    }
  }

  &__components {
    padding: 2rem;
    width: 100%;
    border: calc(1 / 16 * 1rem) solid #e2e8f0;

    h3 {
      font-size: 1.5rem;
      font-weight: 700;
      padding: calc(12 / 16 * 1rem) 0;
    }

    .cmp-channel {
      border: calc(1 / 16 * 1rem) solid #c6c6c6;
      border-radius: calc(6 / 16 * 1rem);
      padding: calc(16 / 16 * 1rem);
      margin-bottom: calc(16 / 16 * 1rem);
    }
  }
}
