.inner-wrap{
   padding: 0 2rem;

   .pub-guide{
      h1{
         font-size: 1.5rem;
         font-weight: 700;
         padding: 12px 0;
      }
      h2{
         font-size: 1.25rem;
         font-weight: 600;
         padding: 12px 0;
      }
      ul{
         width: 100%;
         li{
            padding: 12px 0;
            border-bottom: 1px solid #bdbdbd;
         }

      }

      span{
         font-size: 14px;
         line-height: 16px;
         color: #999;
         font-weight: 300;
         margin-top: 8px;
      }

      h3{
         font-size: 18px;
         line-height: 18px;
         font-weight: 500;
      }

      .code-wrap {
         padding: 6px 6px;
         margin: 5px 0;
         width: fit-content;
         border: none;
         border-radius: 3px;
         background-color: #e1e2e3;
      }
   }
}

.cmp-guide {
   .guide-text {
      &-title {
         font-weight: 700;
         font-size: calc(var(--typo-size-heading-6) / 16 * 1rem);
         margin-bottom: calc(20 / 16 * 1rem);
      }
      &-desc {
         font-size: calc(var(--typo-size-heading-4) / 16 * 1rem);
         margin-bottom: calc(8 / 16 * 1rem);
      }
   }
}

.icon-guide {
   display: flex;
   flex-wrap: wrap;
   gap: calc(10 / 16 * 1rem);
   margin-top: 20px;

   &__item {
      flex: 0 0 auto;

      .box {
         width: calc(150 / 16 * 1rem);
         height: calc(150 / 16 * 1rem);
         border: solid 1px #e0e0e0;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding: calc(4 / 16 * 1rem);
         cursor: pointer;
         &:hover {
            border: solid 1px black;
         }

         .display {
            height: calc(40 / 16 * 1rem);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: calc(8 / 16 * 1rem);

            img {
               max-width: 100%;
               max-height: 100%;
            }
         }

         .name {
            text-align: center;
            margin-bottom: 8px;
            word-break: break-word;
         }
         .copy-btn {
            padding: 4px 8px;
            background-color:rgb(227, 227, 227);
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
               background-color: #e0e0e0;
            }
         }
      }
   }
}